@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  
    margin: 0;
    outline: 0px solid transparent;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.heading{
    margin:20px;
  
}
.maxh{
    height: 100vh;

}
.btnimg{
    margin-left: 10px;
}
.problem
{
    margin-top: 60px;
    margin-left: 100px;
}
.buttons1{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.buttons1 a{
    text-decoration: none;
}
.buttons2 a{
    text-decoration: none;
}
.buttons2{
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-content: space-between;
margin-bottom: 30px;
margin-right: 20px;
}
.videos{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.buttons10{
    margin-left: 100px;
    margin-right: 100px;
}
.buttons11{
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
}
.video1{
    margin: 20px;
}
.buttons2{
    cursor: pointer;

    background-color: black;
    color: white;
    font-size: 25px;
padding: 20px;
font-style: normal;
font: bold;
border-radius: 10px;
margin-left: 50px;
}
.b2{
  
}

.buttons3{
    border-radius: 20px;
    background-color: black;
    color: white;
    cursor: pointer;

    margin-left: 100px;
    font-size: 30px;
    padding: 20px;
    font-style: normal;
    font: bold;
    margin-left: 100px;

}
.button2img{

}
.project-name{
    text-align: center;
    margin-top: 100px;
}

.thumbnail{

}

.thumbnail img
{
height: 80%;
width: 100%;
}
.sectionsubTag
{
font-size: 25px;
}
.section{
    align-content: space-between;
    display: flex;
    flex-direction: row;
}
.secondHalf{
    display: flex;
    flex-direction: row;
}

.firstHalf{

}

.image{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.table{
margin: auto;
}
.image img{
    
    border-radius: 20px;
    width:500px;
margin: auto;
margin-top: 40px;
    align-items: center;
    height: 300px;
}
.desc{
   
    font-size: 20px;
}
.desc li{
    font-size: 20px;
}

.desc img{
  margin-bottom: -10px;
  margin-left: 5px;
margin-right: 5px;
}
.desc a{
    text-decoration: none;
    color: blue;
}

.desc a:hover{
    text-decoration: underline;
    color: blue;
}
.navbar {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    background-color:black;
    align-items: center;
}


.background {
    background-color: #012d8a;
}
#myname{
    margin-left: -40px;
}

.nav-list {
 width: 70%;
    display: flex;
    align-items: center;
}
.rightNav {
    background-color:black;
    align-items:center;
    width: 30%;
    margin-top: 5px;
}

.logo {
    width: 12%;
}

.logo img {
    margin-top: 10px;
    max-height: 50px;
    width:50%;
    height: 50%;
    max-width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 20px;
}

.nav-list li {
    list-style: none;
    padding: 25px 30px;
}
 
.nav-list li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}
#myname{
    font-size: 14px;
}
#myname:hover{
    font-size: 16px;
}
.nav-list li a:hover {
    padding-bottom: 3px;
    border-bottom-style: solid;
    font-size: larger;
}

#search {
    padding: 5px;
    font-size: 10px;
    margin: 20px;
    border: 1px solid black;
 border-radius: 3px;   
}

#search:hover {
 font-size: 15px;
}

.btn-sm{
    background-color:white;
    margin-left: -20px;
    border-radius: 50%;
}
.btn-sm img{
 padding-left: 4px;
 padding-right: 4px;
}
.text-big{

    font-size: 50px;
}
.text-small
{
    font-size: 20px;
}
.box-main{
    display: flex;
    font-weight: bold;
    justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
}
.firstSection{
    padding-top: 40px;
    color: white;
    height: 100%;
}
.firstHalf{
    width:50%;
    display: flex;
    flex-direction: column;
}
.buttons{
    margin-top: 10px;
  
}
.butn{
    cursor: pointer;
    margin:10px;
    border-radius: 6px;
    padding: 4px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #012d8a;
}
.butn:hover{
    font-size: 21px;
}

.secondHalf0 img{
    height: 100%;
    width: 100%;
    margin: 10px;
    border: 2px transparent;
    border-radius: 3%;
    max-width: 500px;
    max-height: 500px;
}   

.secondHalf img{
    height: 100%;
    width: 100%;
    margin: 10px;
    border: 2px transparent;
    border-radius: 3%;
    max-width: 500px;
    max-height: 500px;
} 

.resumebuttons{
    margin-left: 140px;
    margin-bottom: 40px;
}

.videos2{
    height: 100%;
    width: 100%;

}
.section{
    padding: 50px 70px 50px 70px;
    margin: 40px;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    max-width: 80%;
}

.section-left{

}

.paras
{
    padding:0 60px;
    width: 130%;
   
}
.footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #dedede;
    color: black;
  text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}
.burger{
    display: none;
    position: absolute;
    right: 25%;
    top: 2;
}

.line{
    visibility: none;
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

.btn{
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 10px 20px  rgba(0, 0, 0, 0.2);
}
.btn:active {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}





























/* 
@media only screen and (max-width: 640px)
{

    .rightNav {
        align-items: center;
        float: right;
    }
    #search{
        margin-left: -50%;
        font-size: 8px;
        justify-content: center;
    }
    .butn{
        font-size: 8px;
      
    }
   
    .box-main
    {
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px)
{

    .rightNav {
        align-items: center;
    }
    #search{
        margin-left: -80%;
        font-size: 8px;
        justify-content: center;
    }
} */